PROJECT_ROOT=.
OUTPUT_ROOT=./results
CONFIG_ROOT=./config

DATASET_113_DIR=../data/capture_20260714_225839_113
DATASET_619_DIR=../data/capture_20260714_225953_619
DATASET_985_DIR=../data/capture_20260714_230055_985

SAMPLE_RATE_HZ=10000
BLOCK_ROWS=5000
BLOCK_DURATION_S=0.5

PHASE_UNIT=radian
PHASE_BLOCK_UNWRAP=false
PHASE_UNWRAP_DISCONT_RAD=3.141592653589793
ALIGN_EDGE_SAMPLES=64

BANDPASS_LOW_HZ=5
BANDPASS_HIGH_HZ=2000
FILTER_ORDER=4
COMMON_MODE_REMOVAL=true

CSV_CHUNK_ROWS=5000
FILTER_CHANNEL_BATCH=12
PLOT_MAX_TIME_POINTS=3000
HDF5_COMPRESSION=gzip
HDF5_COMPRESSION_LEVEL=4
